.nav__list {
  display: flex;
}

.nav__item {
  @include margin-right(34px);
}

.nav__link {
  font-size: 15px;
  font-weight: 600;
  color: $title_color;
  padding: 4px;
  transition: .3s;
  &:hover {color: $btn_color;}
}