.socials {
  display: block;
  text-align: center;
  font-size: 0;
}

.socials__link {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  @include margin-right(12px);

}

.socials__icon {
  color: #fff;
  transition: .3s;
  &:hover {
    color: $btn_color;
  }
}