.features__head {
  @include mq('tablet-wide'){
    font-size: 16px;
    letter-spacing: 0;
    margin-bottom: 20px;
  }

  @include mq('tablet-small'){
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.features__desc {
  @include mq('tablet-wide'){
    line-height: 26px;
  }
}

.features__list {
  @include mq('tablet'){
    flex-wrap: wrap;
  }
}

.features__item {
  @include mq('tablet'){
    width: 44%;
  }
  &:last-child {
    @include mq('tablet'){
      width: 100%;
      margin-top: 25px;
    }
  }
}