.services__list {

  @include mq('phone'){
    margin: 0 0;
    flex-direction: column;
  }
}

.services__item {

  @include mq('phone'){
    width: 100%;
    margin: 0 0 25px 0;
  }

}

.services__head {

  @include mq('phone'){
    margin-bottom: 10px;
    font-size: 15px;
  }

}

.services__text {

  @include mq('phone'){
    line-height: 22px;
  }
}

.process__list {

  @include mq('phone'){
    margin: -4% -4% -4% 0;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.process__item {

  @include mq('phone'){
    padding: 0 4% 0 0;

    margin: 4% 0;
  }

  &:after {

    @include mq('phone-wide'){
      width: 30px;
    }

    @include mq('phone'){
      display: none;
    }

  }

}

.process__img {

  @include mq('phone'){
    width: 24px;
  }

}

.process__icon {

  @include mq('phone'){
    margin-bottom: 20px;
  }

}

.process__head {

  @include mq('phone'){
    font-size: 13px;
  }
}
