//ASSETS
//======================
@import "layout/reset";
@import "layout/setups";
@import "helpers/variables";
@import "helpers/base";
@import "helpers/mixins";
@import "helpers/placeholders";


//BLOCKS
//=====================
@import "blocks/socials";
@import "blocks/nav";
@import "blocks/btn";



//SECTION
//=====================
@import "sections/header";
@import "sections/partners";
@import "sections/footer";

//Pages
//=====================
@import "pages/home";