.cta-contant {
  text-align: center;
}

.cta-title {
  display: inline-block;
  color: $title_color;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.cta__btn {
  display: inline-block;
  max-width: 230px;
  padding: 18px 40px;
  margin-left: 6%;
}