.work__item {
  @include mq('tablet-wide') {
    display: flex;
    margin: 0 0 24px 0;
  }

}

.details {
  @include mq('tablet-wide') {
    position: static;
    padding: 0 0 0 20px;
    margin-top: 0;
    max-width: 510px;
    background: transparent;
  }
}

.details__head {
  @include mq('tablet-wide') {
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
}

.details__desc {
  letter-spacing: 1px;

  @include mq('tablet-wide') {
    line-height: 26px;
    margin-bottom: 20px;
  }
}