section.partners
    .container
        .partners__list
            +partners ('https://www.google.ru/?hl=ru','img/google.png')
            +partners ('https://www.facebook.com','img/facebook.png')
            +partners ('https://www.yahoo.com','img/yahoo.png')
            +partners ('https://www.paypal.com/us/home','img/paypal.png')