html {
  color: $font-color;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;

  @include mq('tablet-wide') {
    font-size: 13px;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 10px;

  @include mq('desktop'){
    max-width: 970px;
    padding: 60px 10px;
  }

  @include mq('tablet-wide'){
    max-width: 750px;
  }

  @include mq('tablet'){
    max-width: 580px;
    padding: 40px 10px;
  }

  @include mq('phone-wide'){
    max-width: 95%;
    padding: 20px 10px;
  }
}
.title {
  color: $title_color;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;

  @include mq('tablet-wide') {
    margin-bottom: 60px;
  }

  @include mq('tablet') {
    font-size: 20px;
  }

  @include mq('tablet-small') {
    margin-bottom: 40px;
    font-size: 18px;
  }


  @include mq('phone-wide') {
    margin-bottom: 30px;
    font-size: 16px;
  }

  @include mq('phone-small') {
    font-size: 15px;
  }
}

.page-title {
  padding: 100px 0;

  @include mq('tablet-wide') {
    padding: 80px 0;
  }

  @include mq('tablet') {
    padding: 60px 0;
  }

  @include mq('phone-wide') {
    padding: 40px 0;
  }

}

.main-title {
  color: $title_color;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;

  @include mq('tablet') {
    font-size: 22px;
  }

  @include mq('tablet-small') {
    font-size: 20px;
  }


  @include mq('phone-wide') {
    font-size: 18px;
  }

  @include mq('phone-small') {
    font-size: 16px;
  }
}