%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%space-between {
  display: flex;
  justify-content: space-between;
}

//%horizontal-center {
//  display: flex;
//  justify-content: center;
//}