$font-color: #898d94;
$btn_color: #fb874f;
$btn_hover: #ec7236;
$head_color: #616771;
$title_color: #22262f;

$breakpoints: (
        "phone-small":  320px,
        "phone":        480px,
        "phone-wide":   560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1248px,
        "desktop-wide": 1440px
);