.footer-wrap
    footer.footer
        h4.copyright Copyright © 2016–2018
        .socials
            +socials('https://www.facebook.com', 'fab', 'fa-facebook-f')
            +socials('https://twitter.com/?lang=ru', 'fab', 'fa-twitter')
            +socials('https://www.google.ru/?hl=ru', 'fab', 'fa-google')


