.header-wrap
    header.header
        div.logo-wrap
            a.logo__link(href='index.html')
                img.logo__img(src='img/logo.png')
        nav.nav.header__nav
            ul.nav__list
                +nav('About', 'about.html')
                +nav('Services', 'services.html')
                +nav('Work', 'work.html')
                +nav('News', '#')
                +nav('Contact', 'contact.html')