.header-wrap
    header.header
        div.logo-wrap
            a.logo__link(href='index.html')
                img.logo__img(src='img/logo.png')
        nav.nav.header__nav
            ul.nav__list
                +nav('About', 'about.html')
                +nav('Services', 'services.html')
                +nav('Work', 'work.html')
                +nav('News', '#')
                +nav('Contact', 'contact.html')
        a(href='#').menu-btn
            span.menu-btn__line
        .phone-menu
            nav.menu__list
                li.menu__item
                    a(href='about.html').menu__link About
                li.menu__item
                    a(href='services.html').menu__link Services
                li.menu__item
                    a(href='work.html').menu__link Work
                li.menu__item
                    a(href='#').menu__link News
                li.menu__item
                    a(href='contact.html').menu__link Contact
                li.menu__item