extends templates/template

block title
    - var pageTitle = 'About'

block main
    section.page-title
        h2.main-title About creativs
    section.about
        .container
            p.intro Integer pharetra tellus varius dictum erat vel, maximus tellus Sed vitae auctor ipsum. Aliquam luctus erat nec pulvinar vehicula. Donec congue tortor eget sem condimentum, ut tempor massa porttitor. Praesent tincidunt mi orci, in sollicitudin mi dapibus dapibus.
            .info
                .info__item
                    .info__head QUISQUE MALESUADA ORNARE
                    .info__text Pellentesque habitant morbi tristique senectus et netus et nibh malesuada fames ac turpis egestas. Nullam uam mi vel ornare tristique, urna mi tempus quam, euismod ligula ipsum vulputate tellus. Quisque dictum tortor at purus faucibus tincidunt.
                .info__item
                    .info__head PELESQUE HABITANT MORBI
                    .info__text Pellentesque habitant morbi tristique senectus et netus et nibh malesuada fames ac turpis egestas. Nullam uam mi vel ornare tristique, urna mi tempus quam, euismod ligula ipsum vulputate tellus. Quisque dictum tortor at purus faucibus tincidunt.
    section.team
        .container
            h2.title Our team
            .team__list
                +team('img/team_pic6.jpg', 'John Doe','Founder & Creative Director')
                +team('img/team_pic1.jpg', 'Jane Doe','Account Manager')
                +team('img/team_pic3.jpg', 'Sara Doe','Junior Designer')
                +team('img/team_pic4.jpg', 'Alex Doe','Front End Developer')
                +team('img/team_pic5.jpg', 'Emeli Doe','Back End Developer')
                +team('img/team_pic2.jpg', 'Frank Doe','UI Designer')
                +team('img/team_pic7.jpg', 'Charl Doe','UI Designer')
                +team('img/team_pic8.jpg', 'Kelly Doe','Brand Designer')
    include sections/cta
















