extends templates/template

block title
    - var pageTitle = 'Contact'

block main
    section.page-title
        h2.main-title Contact us
    section.contacts
        .container
            .contacts__info
                span.contacts__address
                    | 2301 M Street Northwest
                    br
                    | Washington, DC 20037
                span.contact__phone (202) 419-6200

    section.contact-form
        .container
            h2.title SEND US A MESSAGE
            form.form
                input(type='text' placeholder='Name').form__field
                input(type='email' placeholder='Email').form__field
                input(type='text' placeholder='Subject').form__field.form__field_long
                textarea(placeholder='Message').form__field.form__textarea
                a.btn.form__btn Send the message