extends templates/template

block title
    - var pageTitle = 'Creativs'

block main
    section.hero
        .hero__content
            a(href='#' class='play-video' data-video="http://www.youtube.com/embed/Bm3NV3gGB2w?autoplay=1&showinfo=0")
                img.play-img(src="img/play_btn.png" alt="video")
            h2.hero__head About creativs
            //<div class="about_video show_video">
            //<a href="" class="close_video">Close</a>
            //</div>

    section.features
        .container
            .features__list
                +featurees("RNIM MINIM VENIAISI", "Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.")
                +featurees("INTEGER RHONCUS LIBERO", "Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.")
                +featurees("MAGNA VITAE DIACULIS", "Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident.")
    section.section-work.work
        .container
            h2.title Our work
            .work__list
                +work('img/project1.jpg','EXCEPTEUR OCCAECAT CUPIDATAT','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...','DETAILS ')
                +work('img/project2.jpg','EXCEPTEUR OCCAECAT CUPIDATAT','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...','DETAILS ')
                a.btn.work__btn More projects
    include blocks/partners
    