extends templates/template

block title
    - var pageTitle = 'Services'

block main
    section.page-title
        h2.main-title Our services
    section.services
        .container
            .services__list
                +services('RNIM MINIM VENIAISI','Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident')
                +services('INTEGER RHONCUS LIBERO','Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident')
                +services('MAGNA VITAE DIACULIS','Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident')
                +services('RNIM MINIM VENIAISI','Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident')
                +services('INTEGER RHONCUS LIBERO','Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident')
                +services('MAGNA VITAE DIACULIS','Aute irure dolor in reprehenderit intor voluptate velit esse cillum dolore euro fugiat nulla pariatur excepteur sintary occaecat cupidatat proident')
    section.process
        .container
            .h2.title Our process
            .process__list
                +process('img/research_icon.png','Research')
                +process('img/design_icon.png','Research')
                +process('img/develop_icon.png','Research')
                +process('img/test_icon.png','Research')
                +process('img/launch_icon.png','Research')
    include sections/cta