extends templates/template

block title
    - var pageTitle = 'Work'

block main
    section.page-title
        h2.main-title Our work
    section.section-work.work
        .container
            .work__list
                +work('img/project1.jpg','EXCEPTEUR OCCAECAT CUPIDATAT','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...','DETAILS ')
                +work('img/project2.jpg','EXCEPTEUR OCCAECAT CUPIDATAT','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...','DETAILS ')
                +work('img/project3.jpg','EXCEPTEUR OCCAECAT CUPIDATAT','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo ...','DETAILS ')
                a.btn.work__btn More projects