mixin nav (items)
    nav.nav.header__nav
        ul.nav__list
            each item in items
                li.nav__item
                    a.nav__link= item


mixin featurees (head, desc)
    .features__item
        .features__head= head
        .features__desc= desc
