.header {
  @include mq('phone-wide'){
    max-width: 95%;
  }
}

.nav__list {
  @include mq('phone-wide'){
    display: none;
  }
}

.menu-btn {
  @include mq('phone-wide'){
    display: block;
  }
}
