.header {

  @include mq('tablet-wide'){
    max-width: 750px;
    padding: 20px 10px;
  }

  @include mq('tablet'){
    max-width: 580px;
    padding: 15px 10px;
  }

}

.logo__img {
  @include mq('tablet'){
    width: 80%;
  }
}

.nav__item {
  @include mq('tablet-wide'){
    @include margin-right(24px);
  }
}

.nav__item {
  @include mq('tablet-small'){
    @include margin-right(18px);
  }
}